%p#notice= notice

%p
  %b Name:
  = cocktail.name
%p
  %b Category:
  = cocktail.category_name
%p
  %b Ingredients:
  = cocktail.ingredients
%p
  %b Glassware:
  = cocktail.glassware
%p
  %b Technique:
  = cocktail.technique
%p
  %b Garnish:
  = cocktail.garnish
%p
  %b YouTube link:
  = cocktail.youtube_link
%p
  %b Signature:
  = cocktail.signature
%p
  %b Menu:
  = cocktail.menu

= link_to 'Edit', edit_admin_cocktail_path(cocktail)
\|
= link_to 'Back', admin_cocktails_path
